{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Password Reset Sent - BirdQuest</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="contained">
        <a href = "/">
            <picture>
                <source media="(min-width: 768px)" srcset="{% static 'images/Logo.svg' %}">
                <img src="{% static 'images/bird.svg' %}" alt="BirdQuest Logo" />
              </picture>
        </a>
        <nav class="nav">
            <ul>
                <li><a class="nav-button" href="/signup">Sign Up</a></li>
                <li><a class="nav-button" href="/login">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <div class = "form">
            <h2>Password Reset Sent</h2>
            <p>If an account exists for this email, a password reset link has been sent to it. Check your inbox.</p>
            <p><a href="{% url 'login' %}">Back to login</a></p>
        </div>
    </div>
</body>
</html>