{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up - BirdQuest</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="contained">
        <a href = "/">
            <picture>
                <source media="(min-width: 768px)" srcset="{% static 'images/Logo.svg' %}">
                <img src="{% static 'images/bird.svg' %}" alt="BirdQuest Logo" />
              </picture>
        </a>
        <nav class="nav">
            <ul>
                <li><a class="nav-button" href="/signup">Sign Up</a></li>
                <li><a class="nav-button" href="/login">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <div class = "form-container">

        <div class="form">
            <h2>Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Account</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
        </div>
    </div>
</body>
</html>